/*--------------
VARIABLES
--------------*/

:root {
  --primary-color: #0065fc;
  --secondary-color: #deebff;
  --tertiary-color: #f2f2f2;
}

/*--------------
GENERAL RULES
--------------*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

section,
footer {
  padding: 2em 5%;
}

.container {
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

h2 {
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

/*--------------
HEADER
--------------*/

header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h1 {
  flex-basis: 60%;
  padding-left: 5%;
}

.inscription {
  padding-right: 5%;
}

.inscription a {
  color: var(--primary-color);
  font-weight: bold;
}

nav {
  flex-basis: 100%;
}

.header-nav {
  display: flex;
}

.header-nav li {
  border-bottom: 0.2em solid var(--tertiary-color);
  display: flex;
  flex-basis: 50%;
}

.header-nav :is(.active, li:hover) {
  border-color: var(--primary-color);
}

.header-nav :is(.active, li:hover) a {
  color: var(--primary-color);
}

.nav-link {
  flex-basis: 100%;
  padding: 0.75em 0;
  text-align: center;
}

/*--------------
RECHERCHE ET FILTRES
--------------*/

.search-filters h2 {
  margin-bottom: 0.6em;
}

.accroche {
  margin: 0;
}

/* CHAMP DE RECHERCHE */

form {
  display: flex;
  margin: 1.5em 0;
}

form > * {
  font-size: 1rem;
}

label {
  background-color: var(--tertiary-color);
  border-radius: 25% 0 0 25%;
  padding: 0.75em 1em;
}

input {
  border-block: 1px solid var(--tertiary-color);
  border-inline: 0;
  font-weight: bold;
  margin: 0;
  outline-color: var(--secondary-color);
  padding: 0 1em;
}

::placeholder {
  color: #000;
}

button {
  background-color: var(--primary-color);
  border: 0;
  border-radius: 25%;
  color: #fff;
  margin-left: -0.5em;
  padding: 0 1em;
}

/* FILTRES */

.filtres {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filtres li {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin-bottom: 0.8em;
  position: relative;
}

.filtres div {
  background-color: var(--secondary-color);
  border-radius: 50%;
  left: -5px;
  padding: 0.8em;
  position: absolute;
  text-align: center;
  width: 3em;
}

.filtres span {
  border: 2px solid var(--tertiary-color);
  border-radius: 1.5em;
  font-weight: bold;
  padding-block: calc(0.8em - 2px);
  padding-inline: 3.5em 1em;
}

.filtres li:hover span {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: var(--primary-color);
}

:is(.filtres, .information) i {
  color: var(--primary-color);
}

.information {
  align-items: baseline;
  display: flex;
  font-size: 12px;
}

.information div {
  align-items: center;
  border: 1px solid var(--tertiary-color);
  border-radius: 50%;
  display: flex;
  height: 2em;
  justify-content: center;
  min-width: 2em;
}

.information p {
  margin-left: 0.5em;
}

/*--------------
SECTIONS POPULAIRES, HEBERGEMENTS, ACTIVITES
--------------*/

.populaires {
  background-color: var(--tertiary-color);
}

.populaires h2 {
  display: flex;
  justify-content: space-between;
}

.more {
  font-weight: bold;
}

/* CARDS */

.cards {
  margin-top: 2em;
}

.card {
  background-color: #fff;
  border-radius: 1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  margin-bottom: 1rem;
  padding: 5px;
}

.card-img img {
  object-fit: cover;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content :is(p, i) {
  font-size: 0.875rem;
}

.card-content p {
  margin-top: 0.5em;
}

.card i {
  color: var(--tertiary-color);
}

.card .blue {
  color: var(--primary-color);
}

/* SPECIFICITES CARDS */

.populaires .card {
  height: 150px;
}

.populaires .card-img img {
  border-radius: 1em 0 0 1em;
  height: 140px;
  width: 140px;
}

.populaires .card-content {
  padding: 1em 1.5em;
}

:is(.hebergements, .activites) .card {
  flex-direction: column;
  height: 200px;
}

:is(.hebergements, .activites) .card-img img {
  border-radius: 1em 1em 0 0;
  width: 100%;
}
.hebergements .card-img img {
  height: 110px;
}

.hebergements .card-content {
  flex-grow: 1;
  padding: 5px 0.5em;
}

.activites .card {
  padding: 0;
}

.activites .card-img img {
  height: 150px;
}

.activites .card-content {
  align-items: center;
  flex-direction: row;
  flex-grow: 1;
  padding-left: 1em;
}

/*--------------
FOOTER
--------------*/

footer {
  background-color: var(--tertiary-color);
  padding-top: 0;
}

footer div {
  padding-top: 2em;
}

footer h3 {
  margin-top: 0;
}

footer li {
  margin-bottom: 0.5em;
}
