/*--------------
VARIABLES
--------------*/

:root {
  --primary-color: #0065fc;
  --secondary-color: #deebff;
  --tertiary-color: #f2f2f2;
}

/*--------------
GENERAL RULES
--------------*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*--------------
HEADER
--------------*/

header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h1 {
  flex-basis: 60%;
  padding-left: 5%;
}

.inscription {
  padding-right: 5%;
}

.inscription a {
  color: var(--primary-color);
  font-weight: bold;
}

nav {
  flex-basis: 100%;
}

.header-nav {
  display: flex;
}

.header-nav li {
  border-bottom: 0.2em solid var(--tertiary-color);
  display: flex;
  flex-basis: 50%;
}

.header-nav .active {
  border-color: var(--primary-color);
}

.header-nav .active a {
  color: var(--primary-color);
}

.nav-link {
  flex-basis: 100%;
  padding: 0.75em 0;
  text-align: center;
}

/*--------------
RECHERCHE ET FILTRES
--------------*/

.search-filters {
  padding: 0 5%;
}

.search-filters h2 {
  margin-bottom: 0.6em;
}

.accroche {
  margin: 0;
}

form {
  margin: 1.5em 0;
  display: flex;
}

form > * {
  font-size: 1rem;
}

label {
  background-color: var(--tertiary-color);
  padding: 0.75em 1em;
  border-radius: 25% 0 0 25%;
}

input {
  border-inline: 0;
  border-block: 1px solid var(--tertiary-color);
  margin: 0;
  padding: 0 1em;
  font-weight: bold;
  outline-color: var(--secondary-color);
}

::placeholder {
  color: #000;
}

button {
  color: #fff;
  background-color: var(--primary-color);
  border: 0;
  border-radius: 25%;
  padding: 0 1em;
  margin-left: -0.5em;
}
